{{#layout}}{{#title}}{{pageTitle}}{{/title}}{{#subTitle}}{{#pageSubTitle}}{{.}}{{/pageSubTitle}}{{/subTitle}}
<div class="container">
    {{#isLoggedIn}}
        <script>window.location.replace("/inventory");</script>
    {{/isLoggedIn}}
    {{^isLoggedIn}}
        <a href="/login">{{loginMessage}}</a>
    {{/isLoggedIn}}

</div>
{{/layout}}