{{#layout}}{{#title}}{{pageTitle}}{{/title}}{{#subTitle}}{{#pageSubTitle}}{{.}}{{/pageSubTitle}}{{/subTitle}}
<div class="container">
    {{#isLoggedIn}}
        <script>window.location.replace("/inventory");</script>
    {{/isLoggedIn}}
    {{^isLoggedIn}}
        Please <a href="/login">login</a> to continue
    {{/isLoggedIn}}

</div>
{{/layout}}