{{#layout}}{{#title}}{{pageTitle}}{{/title}}{{#subTitle}}{{#pageSubTitle}}{{.}}{{/pageSubTitle}}{{/subTitle}}
{{#stylesheets}}
    <link href="webjars/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="webjars/datatables/css/dataTables.bootstrap4.css">
{{/stylesheets}}
<div class="container mt-5">
    <div class="row mt-2 mb-2 pr-1">
        <div class="col">
            <h3>{{tableTitle}}</h3>
        </div>
        <div class="col">
            <form action="/inventoryedit" method="get">
                <button class="btn btn-info float-right" type="submit"><span class="oi oi-plus" aria-hidden="true"></span> {{addNewLabel}}</button>
            </form>
        </div>
    </div>
    <hr class="mt-0">
    <table id="inventory-table" class="table">
        <thead class="thead-light">
        <tr>
            <th>
                {{nameLabel}}
            </th>
            <th>
                {{categoryLabel}}
            </th>
            <th>
                {{roomLabel}}
            </th>
            <th class="nosort nosearch">
                <span class="float-right">{{actionsLabel}}</span>
            </th>
        </tr>
        </thead>
        <tbody>
        {{#inventoryItem}}
            <tr>
                <td>
                    {{name}}
                </td>
                <td>
                    {{#category}}{{.}}{{/category}}
                </td>
                <td>
                    {{#room}}{{.}}{{/room}}
                </td>
                <td class="pr-1">
                    <div class="row float-right">
                        <form class="col-auto" action="/inventoryedit/{{id}}" method="get">
                            <input class="btn btn-secondary" type="submit" value="{{editLabel}}">
                        </form>
                        <form class="delete-form col-auto" action="/inventory/{{id}}" method="post">
                            <input class="btn btn-secondary" type="submit" value="{{deleteLabel}}">
                            <input type="hidden" name="action" value="DELETE">
                        </form>
                    </div>
                </td>
            </tr>
        {{/inventoryItem}}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="p-1"></td>
            </tr>
        </tfoot>
    </table>
</div>
{{#scripts}}
    <script type="text/javascript" src="webjars/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="webjars/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script>
        //confirmation popup
        $("form.delete-form").submit(function(){
            return confirm("{{deleteConfirmationMessage}}");
        });

        //Enable DataTables
        $(document).ready( function () {
            $('#inventory-table').DataTable({
                stateSave: true,
                columnDefs: [{
                    targets: 'nosort',
                    orderable: false
                }, {
                    targets: 'nosearch',
                    searchable: false
                }]
            });
        } );
    </script>
{{/scripts}}
{{/layout}}