<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{layout.title}}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <base href="/" />
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    {{{layout.stylesheets}}}
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top">
        <div class="container">
            <a class="navbar-brand" href="/">{{layout.applicationTitle}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                {{#menus}}
                    <li class="nav-item{{#containsMenuItems}} dropdown{{/containsMenuItems}}{{#disabled}} disabled{{/disabled}}">
                        <a class="nav-link{{#containsMenuItems}} dropdown-toggle{{/containsMenuItems}}" href="{{#path}}{{.}}{{/path}}{{^path}}#{{/path}}"{{#containsMenuItems}} data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{{/containsMenuItems}}>{{name}}</a>
                        {{#containsMenuItems}}
                            <div class="dropdown-menu">
                        {{/containsMenuItems}}
                        {{#menuItems}}
                                    <a class="dropdown-item{{#disabled}} disabled{{/disabled}}" href="{{path}}">{{name}}</a>
                        {{/menuItems}}
                        {{#containsMenuItems}}
                            </div>
                        {{/containsMenuItems}}
                    </li>
                {{/menus}}
                </ul>
            </div>
            <ul class="navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{localesLabel}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {{#locales}}
                            <li><a class="locale-change dropdown-item" style="cursor: pointer;" onclick="changeLocale('{{locale}}')">{{name}}</a></li>
                        {{/locales}}
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    {{^disableJumbotron}}
        <div class="jumbotron">
            <div class="container">
                <h1>{{layout.title}}</h1>
                {{#layout.subTitle}}<p class="lead">{{.}}</p>{{/layout.subTitle}}
            </div>
        </div>
    {{/disableJumbotron}}

    {{{layout.body}}}

    <footer class="footer mt-3">
        <div class="bg-light footer-copyright py-3 text-center text-muted">{{copyrightLabel}} © 2020</div>
    </footer>
    <!-- Scripts -->
    <script type="text/javascript" src="webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        function changeLocale(newLocale){
            let currentSearch = location.search
            let newValue = '?locale=' + newLocale
            if (currentSearch.includes('locale')) {
                newValue = currentSearch.replace(/locale=[^&$]*/i, 'locale=' + newLocale);
            } else if (currentSearch.includes('?') && currentSearch.length > 1){
                newValue = currentSearch + '&locale=' + newLocale
            }
            location.search = newValue;
            return false
        }
    </script>
    {{{layout.scripts}}}
</body>
</html>
