{{#layout}}{{#title}}{{pageTitle}}{{/title}}
<div class="container">
    <form action="/propertyedit" method="get">
        <input type="submit" id="new-button" value="{{addNewLabel}}">
    </form>
</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    {{nameLabel}}
                </th>
                <th>
                    {{addressLabel}}
                </th>
                <th>
                    {{actionsLabel}}
                </th>
            </tr>
        </thead>
        <tbody>
            {{#property}}
            <tr>
                <td>
                    {{name}}
                </td>
                <td>
                    {{#addressStreet}}{{.}},{{/addressStreet}} {{#addressCity}}{{.}}{{/addressCity}}
                </td>
                <td>
                    <div class="row">
                        <form class="col-auto" action="/propertyedit/{{id}}" method="get">
                            <input type="submit" id="edit-button" value="{{editLabel}}">
                        </form>

                        <form class="delete-form col-auto" action="/property/{{id}}" method="post">
                            <input type="submit" id="delete-button" value="{{deleteLabel}}">
                            <input type="hidden" name="action" value="DELETE">
                        </form>
                    </div>
                </td>
            </tr>
            {{/property}}
        </tbody>
    </table>
</div>
    {{#scripts}}
        <!-- confirmation popup -->
        <script>
            $("form.delete-form").submit(function(){
                return confirm("{{deleteConfirmationMessage}}");
            });
        </script>
    {{/scripts}}
{{/layout}}