{{#layout}}{{#title}}{{pageTitle}}{{/title}}{{#subTitle}}{{#pageSubTitle}}{{.}}{{/pageSubTitle}}{{/subTitle}}
<div class="container">
    <p>{{message}}</p>
</div>
<script>
    let timer = setTimeout(function() {
        window.location='{{location}}'
    }, 1000);
</script>

{{/layout}}