{{#layout}}{{#title}}{{pageTitle}}{{/title}}{{#subTitle}}{{pageSubTitle}}{{/subTitle}}
<div class="container mt-5">
    <div class="row mt-2 mb-2 pr-1">
        <div class="col">
            <h3>{{tableTitle}}</h3>
        </div>
        <div class="col">
            <form action="/roomedit" method="get">
                <input class="btn btn-secondary float-right" type="submit" id="new-button" value="{{addNewLabel}}">
            </form>
        </div>
    </div>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th>
                {{nameLabel}}
            </th>
            <th>
                <span class="float-right">{{actionsLabel}}</span>
            </th>
        </tr>
        </thead>
        <tbody>
        {{#room}}
            <tr>
                <td>
                    {{name}}
                </td>
                <td class="pr-1">
                    <div class="row float-right">
                        <form class="col-auto" action="/roomedit/{{id}}" method="get">
                            <input class="btn btn-secondary" type="submit" id="edit-button" value="{{editLabel}}">
                        </form>

                        <form class="delete-form col-auto" action="/room/{{id}}" method="post">
                            <input class="btn btn-secondary" type="submit" id="delete-button" value="{{deleteLabel}}">
                            <input type="hidden" name="action" value="DELETE">
                        </form>
                    </div>
                </td>
            </tr>
        {{/room}}
        </tbody>
    </table>
</div>
{{#scripts}}
    <!-- confirmation popup -->
    <script>
        $("form.delete-form").submit(function(){
            return confirm("{{deleteConfirmationMessage}}");
        });
    </script>
{{/scripts}}
{{/layout}}