{{#layout}}{{#title}}{{pageTitle}}{{/title}}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th colspan="2">{{detailsLabel}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{usernameLabel}}
                </td>
                <td>
                    {{username}}
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th>{{userRolesLabel}}</th>
            </tr>
        </thead>
        <tbody>
            {{#userRoles}}
                <tr>
                    <td>{{.}}</td>
                </tr>
            {{/userRoles}}
        </tbody>
    </table>
</div>
{{/layout}}